page-home {
    /*.bk{
        background:linear-gradient(to right, #000000 10%, #fff 90%);
        */
            .bg{
                background-color:#5BC8AC;
        //background-image:url('../assets/imgs/bg.jpg');
    }
    .content{
        align-content:center;
        display: flex;
        flex-direction:column;
        justify-content:center;
    
        text-align:center;


    }
    ion-card.card{
        box-shadow:none;
        background:rgba(0,0,0,0.5);
        border-radius:5px;
    }
   /* a,p,
    ion-card-header.card-header{
        color:#fff;
    }*/
    .item{
        margin-bottom:10px;
        background:rgba(255,255,255,0.5);
        border:medium none;
        .text{
            color:#fff;
        }
    }

}
