<!--
  Generated template for the SubmitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding style="background-color:#5BC8AC" class="page-submit" >
  <p>You have succesfully entered the driver details.</p>

</ion-content>
