page-submit {
    p{
        color: grey
    }
    .content{
        align-content:center;
        display: flex;
        flex-direction:column;
        justify-content:center;
    
        text-align:center;
    }
}